.vs/
Binaries/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/AssetPacks/
Content/Collections/
Content/Developers/
Content/FirstPersonArms/
Content/FPWeapon/
Content/LevelPrototyping/
Content/StarterContent/
DerivedDataCache/
Intermediate/
Saved/

Shooter.sln